<h2>Definition: <%= @definition.name %></h2>
<ul>
  <li>Word: <%= @definition.word.name %></li>
  <!-- <li>Artist: <%= @definition.artist_name %></li>
  <li>Year: <%= @definition.year_recorded %></li>
  <li>Studio: <%= @definition.studio %> </li> -->
</ul>

<form action="/words/<%= @definition.word.id %>/definitions/<%= @definition.id %>" method="post">
  <input name="_method" type="hidden" value="patch">

  <label for="name">Rename definition</label>
  <input id="name" name="name" type="text" value="<%= @definition.name %>">

  <!-- <label for="artist_name">Rename Artist</label>
  <input id="artist_name" name="artist_name" type="text" value="<%= @definition.artist_name %>">

  <label for="year_recorded">Update Year</label>
  <input id="year_recorded" name="year_recorded" type="text" value="<%= @definition.year_recorded %>"> -->

  <button type="submit">Update definition</button>
</form>

<form action="/words/<%= @definition.word.id %>/definitions/<%= @definition.id %>" method="post">
  <input name="_method" type="hidden" value="delete">

  <button type="submit">Delete definition</button>
</form>

<a href="/words/<%= @definition.word.id %>">Back to <%= @definition.word.name %></a>
